$yellow: #ffd11e;
$red: #eb2142;
$blue: #34a5dd;


html, body {
  height: 100%;
}

body {
  background: linear-gradient(90deg, $yellow 10%, $red 90%);
  overflow: hidden;
}

.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}

.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba($blue,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}

.loader:before {
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(180deg) skew(360deg);
  }
}



.loader:after {
  animation: animate2 2s infinite linear;
}

@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }

  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}
